*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: "plain light";
}

html, body{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#cursor{
    height: 2.6vw;
    width: 2.6vw;
    border: 1px solid #ffffffac;
    border-radius: 50%;
    mix-blend-mode: difference;
    position: fixed;
    z-index: 999;
    transform: translate(-50%,-50%);
}

#loader{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 99;
    background-color: #0B0B0B;
    padding: 15vh 6vw;
}

.line{
    height: fit-content;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 6vw;
} 

#percentage{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4vw;
    gap: -.5vw;
    padding-left: 5vw;
}

#percentage h5{
    /* background: red; */
    width: 6vw;
    /* margin-right: auto; */
}

#percentage h5, #percentage h6{
    font-size: 3vw;
    font-family: "silk serif";
    font-weight: 100;
}

.line h1{
    font-size: 6.5vw;
    text-transform: uppercase;
    font-weight: 600;
    /* letter-spacing: 0.2rem;
    line-height: 7.5rem; */
}

/* .line span{
    margin-left: 3rem;
} */

.line h2{
    height: 8.2vw;
    font-size: 6.5vw;
    text-transform: uppercase;
    font-weight: 600;
    /* animation-name: nowanime; */
    opacity: 0;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes nowanime {
    
    0%{
        font-family: "plain light";
        font-weight: 400;
        -webkit-text-stroke: 2px white;
        opacity: 1;
    }
    
    40%{
        font-family: "plain light";
        font-weight: 400;
        -webkit-text-stroke: 2px white;
        opacity: 0;
    }

    60%{
        font-family: "silk serif";
        font-weight: 400;
        -webkit-text-stroke: 2px white;
        color: transparent;
        opacity: 1;
    }
    
    100%{
        font-family: "silk serif";
        font-weight: 400;
        -webkit-text-stroke: 2px white;
        color: transparent;
        opacity: 0;
    }
}

/* #loader h3{
    font-size: 1vw;
    width: fit-content;
    margin: 4vw 15vw;
    padding: 20vw;
    overflow: hidden;
    background-color: red;
} */

#main{
    position: relative;
    background: #030303;
}

#page1{
    width: 100%;
    height: 100vh;
    background: #151515;
}

#page1 #nav{
    display: flex;
    justify-content:space-between;
    align-items:center;
    padding: 3.5vw 5vw;
}

#nav-pt1{
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-pt2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
}

#nav h4{
    font-size: 1.1vw;
    font-weight: 500;
}

.hero{
    /* background: red; */
    width: 60%;
    margin-left: 27%;
    height: fit-content;
    overflow: hidden;
}
.hero:nth-child(2){
    margin-top:15vh;
}
.hero h1{
    font-size: 7vw;
    text-transform: uppercase;
    line-height: 7.5vw;
}

.hero .hero3{
    text-decoration: underline;
}

.hero .hero3:hover{
    -webkit-text-stroke: .5px white;
    color: transparent;
    font-weight: 400;
}